:root {
  --accent-color: #aa51b9;
  --main-color: #2f3f2f;
  --background-color: #f3f3f3;
}

$accent-color: var(--accent-color);
$main-color: var(--main-color);
$background-color: var(--background-color);
